<div style="display: flex; justify-content: space-between;">
<div><%= current_user.email%></div>
<div><%= link_to 'Make New Friend', new_friend_url, method: :get %></div>
<div><%= link_to 'Pending Requests', edit_friend_url(current_user.id), method: :get %></div>
<div><%= link_to 'Friends', friends_url, method: :get %></div>

<div><%= link_to "Create Post", new_post_url, method: :post%></div>

<div><%= link_to "Sign out", destroy_user_session_path, method: :delete%></div>
</div>
<div>
</div>
<br>
<div style="display: flex; justify-content: space-between;">
    <div style="display: block">
    <h3>Posts</h3>
    <% @post.each do |ava| %>
            <span><%= link_to image_tag(ava.avatar, width: "200px", height: "200px"), post_url(ava.id), method: :get%></span>
    <% end %>
    </div>
    </div>
</div>
