<!DOCTYPE html>
<html>
  <head>
    <title>MiniFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      <div style="display: flex; justify-content: space-between; background-color: cyan; padding: 10px">
        <div><%= link_to current_user.email, root_url, method: :get%></div>
        <div><%= link_to 'Make New Friend', new_friend_url, method: :get %></div>
        <div><%= link_to 'Pending Requests', edit_friend_url(current_user.id), method: :get %></div>
        <div><%= link_to 'Friends', friends_url, method: :get %></div>

        <div><%= link_to "Create Post", new_post_path, method: :get%></div>

        <div><%= link_to "Sign out", destroy_user_session_path, method: :delete%></div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
